// Breakpoints
$mobile: 360px;
$tablet: 600px;
$desktop: 1024px;

// media query mixin
@mixin xsMobile {
  @media (max-width: #{$mobile}) {
    @content; // 해당내용 모두 적용
  }
}

@mixin mobile {
  @media all and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet {
  @media all and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop) {
    @content;
  }
}
